.ddate {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background: #ffffff;
}

.ddate td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    cursor: default;
}

.ddate th span.darrows{
    background: #cccccc;
    border-radius: 100%;
    width: 20px;
    display: block;
    height: 20px;
    color: #ffffff;
}

.ddate th,.ddate td.dheader {
    border: 0px solid #ddd;
    padding: 8px;
    text-align: center;
    cursor: default;
}

.ddate th:hover,.ddate td.dheader:hover {
    background: none;
}

.ddate th{
    border-bottom: 1px solid #ddd;
}

.ddate td.mute{
    background: #efefef;
    color: #d0d0d0;
}

.ddate td:hover {
    background-color: #ddd;
}

.ddate th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #000000;
}

.ddate .previousMonth, .ddate .nextMonth{
    cursor:pointer;
}

.ddate .defaultSelect{
    background: #ddd;
    font-weight: bold;
}

#datePickerdatePickerContainer{
    position: absolute;
}

.previousNextMonth{
    background:#f7f7f7;
}
/*******temp*********/
